:root {
    --pulseAnimation: pulse 1s steps(10) infinite;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;

    -webkit-animation: var(--pulseAnimation);
    -moz-animation: var(--pulseAnimation);
    -ms-animation: var(--pulseAnimation);
    -o-animation: var(--pulseAnimation);
    animation: var(--pulseAnimation);
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}